/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.6rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo > p {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: grey;
}

header > nav {
  position: absolute;
  right: 0rem;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 600px) {
  header {
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 0 3rem;
  }

  header > nav {
    position: relative;
    right: 0rem;
  }

  header > nav > svg {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .nav-links > li {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    padding: 1rem 2rem;
  }

  .nav-links > li > a {
    display: flex;
    width: 120%;
    justify-content: space-between;
    text-decoration: none;
    color: grey;
  }
}

/* Footer styles */
footer {
  background-color: #323232;
  color: #c6c4c4;
  text-align: end;
  padding: 0.5rem;
}

.footer-content,
.footer-links-section {
  display: flex;
  flex-direction: column;
}

.footer-section {
  margin-bottom: 0.5rem;
}

.footer-section > h1 {
  font-size: 1.2rem;
  border-bottom: 2px solid #257598;
  padding: 0.2rem;
  margin: 0.2rem;
}

.footer-section > h1.plus {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Content styles */
.content-container {
  flex: 1;
}
