/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  direction: rtl;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.6rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo > p {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: grey;
}

header > nav {
  position: absolute;
  right: 0rem;
}

.nav-links {
  display: none;
}

@media screen and (min-width: 600px) {
  header {
    justify-content: space-between;
    padding: 0 3rem;
  }
  header > nav {
    position: relative;
    right: 0rem;
  }
  header > nav > svg {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .nav-links > li {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    padding: 1rem 2rem;
  }
  .nav-links > li > a {
    display: flex;
    width: 120%;
    justify-content: space-between;
    text-decoration: none;
    color: grey;
  }
}

/* Footer styles */
footer {
  background-color: #323232;
  color: #c6c4c4;
  padding: 2rem 0.5rem;
  position: relative;
}

#footer-decoration {
  position: absolute;
  right: 12px;
  top: -24px;
}

.footer-content,
.footer-links-section {
  display: flex;
  flex-direction: column;
}

.footer-section {
  margin-bottom: 0.5rem;
}

.footer-section > h1 {
  font-size: 1.2rem;
  border-bottom: 2px solid #257598;
  padding: 0.2rem;
  margin: 0.2rem;
}

.footer-section > h1.plus {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer-section > ul {
  display: none;
}

.footer-extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-platforms {
  border-bottom: 2px solid grey;
  margin: 0.5rem;
}

@media screen and (min-width: 600px) {
  footer {
    padding: 3rem;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-about {
    width: 30%;
  }
  .footer-section > h1.plus {
    display: block;
    cursor: auto;
  }
  .footer-section > ul {
    display: block;
    margin: 0.5rem;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
  }
  .footer-links > .footer-section {
    padding-left: 2rem;
    width: 12rem;
  }

  .plus-sign {
    display: none;
  }

  .footer-link {
    list-style-type: none;
  }
  .footer-link > a {
    text-decoration: none;
    color: #c6c4c4;
  }
}

/* Content styles */
.content-container {
  flex: 1;
  margin-bottom: 2.5rem;
}
.content-top-scetion {
  padding: 1rem;
  padding-bottom: 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #323232;
}

.tests-summary {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}

.test-summary {
  margin: 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.test-summary.selected {
  border-bottom: 3px solid #257598;
  font-size: 1.6rem;
}

.check-icon {
  display: block;
  font-size: 48px;
}

.content-main > h2 {
  padding: 2rem 0.5rem;
}

.next-practice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #afaeae;
  padding: 1rem;
  margin: 0.5rem;
}

.btn-primary {
  background-color: rgb(219, 68, 109);
  border: none;
}

.next-practice > .btn {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .content-top-scetion {
    padding-right: 10rem;
  }
  .tests-summary {
    width: 85%;
  }
  .test-summary.selected {
    font-size: 1.2rem;
  }
  .test-summary {
    font-size: 1rem;
  }
  .check-icon {
    font-size: 32px;
  }

  .next-practice > .btn {
    width: auto;
    padding: 0.2rem 3rem;
  }
}
